<a href="https://colab.research.google.com/github/MsIlnara/praktiki/blob/master/praktika_za_20_marta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class T1:
  n=10
  def total(self,N):
    self.total = int(self.n) + int(N)

class T2:
  def total (self,s):
    self.total = len(str(s))

t1=T1()
t2=T2()
t1.total(45)
t2.total(45)
print(t1.total)
print(t2.total)

55
2

In [0]:
class One:
  def __init__ (self,a):
    self.a = a**2

class Two:
  def __init__ (self,a):
    self.a=a*2

a=input ("введите число ")
a = int (a)
if -100<a<100:
  obj = One(a)
else:
  obj= Two(a)

print(obj.a)

введите число 101
202

In [0]:
class Base:
  def __init__ (self,n):
    self.numb = n
  def out(self):
    print(self.numb)

class One (Base):
  def multi(self,m):
    self.numb=m

class Two(Base):
  def inlist(self):
    self.inlist = list(str(self.numb))
  def out(self):
    i=0
    while i<len(self.inlist):
      print (self.inlist[i])
      i+=1

obj1=One(45)
obj2 = Two('abc')

obj1.multi(2)
obj1.out()

obj2.inlist()
obj2.out()

2
a
b
c

In [0]:
class Base:
  def __init__ (self,N):
    self.numb = N
  def out(self):
    self.numb /=2
    print(self.numb)

class Subclass(Base):
  def out(self):
    print ("\n----")
    Base.out(self)
    print("----\n")

i=0
while i<10:
  if a<i<7:
    obj=Subclass(i)
  else:
    obj=Base(i)
  i+=1
  obj.out()

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [5]:
class FinE:
  def __init__(self):
    self.subject = "ЕГЭ по английскому языку"
    self.sumoftrue = 38
    self.sost = "Сдал"

class Exam(FinE):
  def __init__(self):
    FinE.__init__(self)
    self.subject = "Экзамент"
    self.numT = "50"
    

class Test(Exam):
  def __init__(self):
    Exam.__init__(self)
    self.subject = "Еженедельный тест по английскому"    
    self.lvlofcompl = "Тяжелый"
  
class Ispitanie(Exam):
  def __init__(self):
    Exam.__init__(self)
    self.subject = "Вступительное испытание по англ. яз" 
    self.perehod = "Перешел в новый класс"
   


t1 = FinE()
print("Предмет: ",t1.subject, "; Количество нправильных номеров: ",t1.sumoftrue,"; Сдал/не сдал: ", t1.sost)
t2=Exam()
print("Предмет: ",t2.subject,";  Количество номеров: ",t2.numT ,";  Количество верных номеров:  ",t2.sumoftrue,";  Сдал/Не сдал:  ", t2.sost)
t3= Test()
print("Предмет: ", t3.subject, "; Количество номеров: ",t3.numT, "; Количество верных номеров: ",t3.sumoftrue, "; Сдал/не сдал: ",t3.sost, "; Уровень сложности: ",t3.lvlofcompl )
t4 = Ispitanie()
print("Предмет: ",t4.subject,";  Количество номеров: ",t4.numT ,";  Количество верных номеров:  ",t4.sumoftrue,";  Сдал/Не сдал:  ", t4.sost, "; Результат: ",t4.perehod)

Предмет:  ЕГЭ по английскому языку ; Количество нправильных номеров:  38 ; Сдал/не сдал:  Сдал
Предмет:  Экзамент ;  Количество номеров:  50 ;  Количество верных номеров:   38 ;  Сдал/Не сдал:   Сдал
Предмет:  Еженедельный тест по английскому ; Количество номеров:  50 ; Количество верных номеров:  38 ; Сдал/не сдал:  Сдал ; Уровень сложности:  Тяжелый
Предмет:  Вступительное испытание по англ. яз ;  Количество номеров:  50 ;  Количество верных номеров:   38 ;  Сдал/Не сдал:   Сдал ; Результат:  Перешел в новый класс